@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}

<h1>@ViewData["Title"]</h1>


@{
    if (@Model.TempData["templink"] == null)
    {
    <p>
        We have sent a confirmation to your email.   
    </p>
    }
    else
    {
<p>
    Please check your email to reset your password.<a id="confirm-link" href="@Model.TempData["templink"]">Click here to confirm your account</a>
</p>
    }
}